:root {
    --grid-size: 0;
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgb(37, 37, 37);
}

.hero {
    width: 640px;
    margin: 0 auto;
}

h1 {}

.controls {
    margin: 1.5rem 0;
}

input {
    padding: 0 .5rem;
    line-height: 2rem;
    color: grey;
    background: inherit;
    border: none;
    -moz-appearance: textfield;
} input:focus {
    outline: none;
}

button {
    padding: .5rem;
    color: white;
    background: cornflowerblue;
    border: none;
} button:hover {
    background: rgb(45, 80, 145);  
}

.grid-container {
    width: 640px;
    height: 640px;
    display: block;
    box-sizing: border-box;
    border: 5px solid white;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
}

.cell {
    grid-area: 1;
    grid-row: 1;
    transition: all .2s;
    border: 1px dashed darkslategrey;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
} .cell:hover {
    background: rgb(45, 80, 145);  
} .-filled {
    background: cornflowerblue;
}
