html,
body {
    width: 100%;
    margin: 0;
}

.grid-container {
    box-sizing: border-box;
}

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background: cornflowerblue;

}

.row {

}

.cell {
    grid-area: 1;
    grid-row: 1;
    background: orangered;
}
